* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  text-decoration: none;
  list-style: none;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

header {
  height: 15%;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
.navbar h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #e74c3c;
}
.logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.links-buttons-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.auth-buttons button {
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.links-buttons-wrapper .nav-links a:hover {
  color: #e74c3c; /* Sporty red hover */
  border-radius: 15px;
  font-size: 21px;
  text-shadow: 0 0 10px #e74c3c;
}

.links-buttons-wrapper .auth-buttons button:hover {
  color: #e74c3c;
  background-color: rgb(67, 65, 65);
  font-size: 21px;
  text-shadow: 0 0 10px #e74c3c;
}
.main {
  height: 100%;
  width: 100%;
  margin: 90px 30px;
}

.cars-card {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 50px;
  border-bottom: 2px solid black;
}
.cars-card .car-imag {
  margin-top: 30px;
}
.cars-card .car-imag img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.cars-card .car-imag img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(160, 149, 149, 0.9); /* white glowing shadow */
}
.car-discrip {
  height: 30%;
  font-family: "Roboto Mono", monospace;
  margin-top: 100px;
  line-height: 30px;
  letter-spacing: 2px;
}

.cars-card h3 {
  font-size: 30px;
  padding: 8px;
}

.cars-card p {
  font-size: 20px;
  padding: 0 20px;
}

.cars-interior {
  width: 90%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-interior-discrip {
  font-family: "Roboto Mono", monospace;
  line-height: 30px;
  letter-spacing: 2px;
}
.car-interior-discrip h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.car-interior-discrip p {
  font-size: 20px;
}

.car-interior-discrip:hover {
  color: #e74c3c; /* Sporty red hover */
  border-radius: 15px;
  box-shadow: 0 0 10px #e74c3c;
  border: 1px solid white;
  padding: 8px 20px;

}

.car-interior-imag img {
  height: 70vh;
  width: 90vh;
  object-fit: cover;
  border-radius: 40px;
}

.car-interior-imag img:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 25px rgba(255, 97, 97, 0.9); /* white glowing shadow */
}
